### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
#pullings columns from purchase_data for player_demographics data set
player_demographics = purchase_data.loc[:, ["Gender","SN","Age"]]

#dropping duplicate players
player_demographics = player_demographics.drop_duplicates()

#counting the num of players
total_players = player_demographics.count()[0]

#display the output of number of total players
total_players

576

In [3]:
#display the purchase_data data set for reference
pd.set_option('display.max_rows',None)
df = pd.DataFrame(purchase_data)
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Total Number of Purchases


* Display the summary data frame

In [4]:
# obtain number of unique items
unique_items = len(purchase_data["Item ID"].unique())

# obtain the average price of every item sold
average_price = purchase_data["Price"].mean()

# calculating the total revenue from all sales
total_revenue = purchase_data["Price"].sum()

# calculating the number of items sold
item_count = purchase_data["Price"].count()

# create a summary table for calculations found
summary_table = pd.DataFrame({"Unique Items":unique_items,
                              "Average Price of Items":[average_price], "Total Revenue":[total_revenue], 
                             "Number of items sold":[item_count]})

# display the summary table
summary_table

   Unique Items  Average Price of Items  Total Revenue  Number of items sold
0           179                3.050987        2379.77                   780

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [5]:
# create a variable that holds gender demographic total numbers
gender_demo_totals = player_demographics["Gender"].value_counts()

# create a variable that holds gender demographics as a percentage
gender_demo_percent = gender_demo_totals/total_players*100

# create a summary table for gender demo info
gender_demo = pd.DataFrame({"Total Count":gender_demo_totals,
                              "Percent":gender_demo_percent})

# display the summary table
gender_demo

                       Total Count    Percent
Male                           484  84.027778
Female                          81  14.062500
Other / Non-Disclosed           11   1.909722


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
#create a variable that calculates the number of purchases by gender.
purchase_count = purchase_data["Gender"].value_counts()

#test run
#purchase_count

# calculate average purchase price by gender
average_purchase_gender = purchase_data.groupby(["Gender"]).mean()["Price"]

# normalized total = male purchase total /  # of males
#normalized_total = 
#two lines above were what Roger suggested I should use to get avg. purchase per person by gender
#I didn't quite understand his logic, so I went a different route, but kept this just in case.

#how much did everybody buy / total count 
total_purchase_by_gender = purchase_data.groupby(["Gender"]).sum()["Price"]

# What is the average purchase per person by gender?
avg_purchase_by_gender = total_purchase_by_gender/gender_demo["Total Count"]


#making a dataframe to hold the results
analysis_gender = pd.DataFrame({"Purchase Count":gender_demo_totals,
                              "Average purchase price":average_purchase_gender,
                                "Avg. Purchase per person":avg_purchase_by_gender})

#cleaner formatting
analysis_gender = analysis_gender.round(2)

#test run
analysis_gender

,Purchase Count,Average purchase price,Avg. Purchase per person
Female,81,3.20,4.47
Male,484,3.02,4.07
Other / Non-Disclosed,11,3.35,4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [7]:
#creating a variable for the age column in purchase_data 
age = player_demographics["Age"] 

#creating a variable that categorizes the players into 7 bins.
age_groups = pd.cut(age, bins=7, labels=["0 - 7", "8 - 14", "15 - 21", "22 - 29", "30 - 39", "40 - 49",
                                         "= or greater than 50"])

#a variable that holds the counts of each age group
groups_totals = age_groups.value_counts()
#groups_totals   test run.

#a variable that holds the percentage of players in each age group.
groups_percent = groups_totals/groups_totals.count()
#groups_percent  test run.

#Create a summary data frame to hold the results
analysis_age = pd.DataFrame({"Number of players in age groups":groups_totals,
                              "percent of players in age groups":groups_percent})

#round the percentage column to two decimal points
analysis_age = analysis_age.round(2)


#soert by the age groups
analysis_age = analysis_age.sort_index()
#analysis_age["percent of players in age groups"] = analysis_age["percent of players in age groups"].astype(float).map("%{:.2f}")

analysis_age

,Number of players in age groups,percent of players in age groups
0 - 7,34,4.86
8 - 14,74,10.57
15 - 21,248,35.43
22 - 29,115,16.43
30 - 39,62,8.86
40 - 49,31,4.43
= or greater than 50,12,1.71

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [8]:
#setting a variable for holding age column in purchase_data 
#age = purchase_data["Age"] 

#creating a variable that categorizes the players into 7 bins.
purchase_data["age_range"] = pd.cut(purchase_data["Age"], bins=7, labels=["0 - 7", "8 - 14", "15 - 21", "22 - 29",
                                                                       "30 - 39", "40 - 49",
                                         "= or greater than 50"])

#setting variables for purchase count, purchase total and average purchase by age
purch_count = purchase_data.groupby(["age_range"]).count()["Price"]
purch_total = purchase_data.groupby(["age_range"]).sum()["Price"]
purch_avg = purchase_data.groupby(["age_range"]).mean()["Price"]

#normalizing data by 
normalize_total = purch_total/analysis_age["Number of players in age groups"]
analysis_age_purch = pd.DataFrame({"Purchase count by age":purch_count,
                              "Purchase Totals by age":purch_total, "Average purchase by age":purch_avg})

#cleaning up summary table
analysis_age_purch = analysis_age_purch.round(2)
#analysis_age_purch.set_index('Age')
analysis_age_purch.sort_index()
analysis_age_purch

,Purchase count by age,Purchase Totals by age,Average purchase by age
age_range,,,
0 - 7,45,143.55,3.19
8 - 14,93,277.05,2.98
15 - 21,347,1056.04,3.04
22 - 29,155,467.99,3.02
30 - 39,86,249.23,2.90
40 - 49,41,147.67,3.60
= or greater than 50,13,38.24,2.94

# Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [9]:
#calculations
SN_count = purchase_data.groupby(["SN"]).count()["Price"]
SN_total = purchase_data.groupby(["SN"]).sum()["Price"]
SN_avg = purchase_data.groupby(["SN"]).mean()["Price"]

#dataframe
top_spenders = pd.DataFrame({"Purchase count":SN_count,
                              "Total purchases":SN_total, "Average purchase":SN_avg})
#limiting average purchase values to 2 digits after the decimal point
top_spenders = top_spenders.round(2)

top_spenders["Total purchases"] = top_spenders["Total purchases"].map("${:,.2f}".format)
top_spenders["Average purchase"] = top_spenders["Average purchase"].map("${:,.2f}".format)

#sorting the total purchase column in descending order
top_spenders.sort_values("Total purchases", ascending=False).head(5)

              Purchase count Total purchases Average purchase
SN
Haillyrgue51               3           $9.50            $3.17
Phistym51                  2           $9.50            $4.75
Lamil79                    2           $9.29            $4.64
Aina42                     3           $9.22            $3.07
Saesrideu94                2           $9.18            $4.59

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [10]:
#a variable to store the Item ID, Item Name, and Price column data from purchase_data
item_data = purchase_data.loc[:,["Item ID","Item Name","Price"]]

#calculations
popular_count = item_data.groupby(["Item ID","Item Name"]).count()["Price"]
total_item_purchase = item_data.groupby(["Item ID","Item Name"]).sum()["Price"]
average_item_purchase = item_data.groupby(["Item ID","Item Name"]).mean()["Price"]

#dataframe
most_popular = pd.DataFrame({"Purchase count":popular_count,
                              "Total purchases":total_item_purchase, "Item price":average_item_purchase})

#limiting values to 2 digits after the decimal point
most_popular = most_popular.round(2)

most_popular["Total purchases"] = most_popular["Total purchases"].map("${:,.2f}".format)
most_popular["Item price"] = most_popular["Item price"].map("${:,.2f}".format)

#sorting the purchase countcolumn in descending order
most_popular.sort_values("Purchase count", ascending=False).head()

,,Purchase count,Total purchases,Item price
Item ID,Item Name,,,
92,Final Critic,13,$59.99,$4.61
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$50.76,$4.23
145,Fiery Glass Crusader,9,$41.22,$4.58
132,Persuasion,9,$28.99,$3.22
108,"Extraction, Quickblade Of Trembling Hands",9,$31.77,$3.53

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [11]:
most_popular.sort_values("Total purchases", ascending=False).head(5)

,,Purchase count,Total purchases,Item price
Item ID,Item Name,,,
63,Stormfury Mace,2,$9.98,$4.99
29,"Chaos, Ender of the End",5,$9.90,$1.98
173,Stormfury Longsword,2,$9.86,$4.93
38,"The Void, Vengeance of Dark Magic",4,$9.48,$2.37
143,Frenzied Scimitar,6,$9.36,$1.56